<footer class="site-footer">
    <div class="footer-content">
        <div class="footer-brand">
            <h2>QA Programming & Learning LTD</h2>
            <p>20-22 Wenlock Road,</p>
            <p>London, N1 7GU, UK</p>
            <p>+44 7451 214558</p>
            <p style="margin-bottom: 2vh;">support@qapy.uk</p>

            <a href="https://www.facebook.com/qapylearning" target="_blank" aria-label="Facebook"><i
                    class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/qapylearning" target="_blank" aria-label="Instagram"><i
                    class="fab fa-instagram"></i></a>
            <a href="https://www.linkedin.com/in/qapylearning" target="_blank" aria-label="LinkedIn"><i
                    class="fab fa-linkedin-in"></i></a>
            <a href="https://github.com/qapyl" target="_blank" aria-label="Github"><i
                    class="fab fa-github"></i></a>


        </div>

        <div class="social-icons">
        </div>

        <div class="footer-nav">
            <h4>Sections</h4>
            <ul>
                <li><a href="/"><span class="arrow">></span> Home</a></li>
                <li><a href="/about"><span class="arrow">></span> About us</a></li>
                <li><a href="/courses"><span class="arrow">></span> Courses</a></li>
                <li><a href="/contact"><span class="arrow">></span> Contact us</a></li>
            </ul>
        </div>

        <div class="footer-legal">
            <h4>Legal</h4>
            <ul>
                <li><a href="/terms"><span class="arrow">></span> Warranty Terms</a></li>
                <li><a href="/policy"><span class="arrow">></span> Privacy policy</a></li>
                <li><a href="/refund"><span class="arrow">></span> Refund Policy</a></li>
            </ul>
        </div>

        <div class="footer-payment footer-icons-payment">
            <h4>Secure Payments</h4>
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-stripe"></i>
        </div>
    </div>

    <hr class="footer-divider">

    <div class="footer-bottom">
        <p>© Copyright QA Programming & Learning LTD. All Rights Reserved</p>
        <button class="scroll-top">^</button>
    </div>
</footer>