.choose-us-section {
    margin: 5vh 2vw; /* Ajusté los márgenes para dar un poco de espacio en el top y bottom, y menos en los lados */
    text-align: center;
    padding: 0;
}

.cards-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.card {
    flex-basis: calc(25% - 20px); /* Esto es para pantallas grandes */
    padding: 20px;
    border: 1px transparent grey;
    background-color: transparent;
    text-align: center;
    transition: background-color 0.3s;
    box-sizing: border-box; /* Esto asegurará que el padding y el borde se incluyan en el ancho/altura total */
}

.card:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.dark-card {
    border-radius: 5vh;
    background-color: black;
    color: white;
}

.dark-card:hover {
    background-color: black;
}

.card-icon {
    font-size: 40px;
    margin-bottom: 20px;
}

.learn-more-btn {
    display: inline-block;
    padding: 10px 50px;  
    background-color: rgb(63, 62, 62);
    color: white;
    text-decoration: none;
    border-radius: 20vh;
    margin-top: -30px;
    margin-bottom: 4vh;
    transition: background-color 0.3s;
}

.learn-more-btn:hover {
    background-color: whitesmoke;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .card {
        flex-basis: 100%; /* Cada tarjeta ocupará la totalidad del ancho en móviles */
        margin-bottom: 20px;
    }
    .choose-us-section {
        margin: 4vh 1vw;
    }
}
