---
layout: default
---
<!-- About Us -->
<section class="about-us-section">
    <div class="about-us-text">
        <h2 style="margin-bottom: 2vh;">About Us</h2>
        <p>QA Programming & Learning is an innovative online education academy dedicated to empowering
            individuals with the skills they need to thrive in the rapidly evolving digital landscape. Our
            mission is to provide cutting-edge courses in web3 and programming, equipping learners with the
            knowledge and tools to stay ahead of the curve and embrace the technologies of the future.</p>
        <!-- Resto del contenido -->
    </div>
</section>

<section class="content-section reveal-left">
    <div class="lottie-container">
        <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
        <lottie-player class="lottie" src="https://lottie.host/50d36eb2-54e6-4c48-ae8a-5bd1117fdf3f/xcDpdwkH4L.json"
            background="#" speed="1" style="width: 80vh; height: 50vh;" loop autoplay direction="1" mode="normal">
        </lottie-player>
    </div>

    <div class="info-content">
        <h3 class="highlight-text">
            Our vision is to empower you with cutting-edge educational content that helps you master new skills
            and shape the future of the web.
        </h3>
        <p>We offer a variety of courses across different domains, led by expert instructors who are eager to
            share their insights with you.</p>

        <ul class="features-list">
            <li><span class="icon-container"><i class="fas fa-check"></i></span>Practical</li>
            <li><span class="icon-container"><i class="fas fa-check"></i></span>Hands-on and fun</li>
            <li><span class="icon-container"><i class="fas fa-check"></i></span>Boost your income</li>
        </ul>

        <p>By enrolling in Veracity courses, you'll unlock new opportunities and expand your horizons in the
            digital realm. Join our community of forward-thinking individuals who are embracing the future of
            technology and taking charge of their learning journey. Discover your potential with QA Programming
            & Learning and embark on a path to success in web3 and programming.</p>

    </div>
</section>

<section class="team-section reveal-bottom">
    <div class="title-container">
        <h2 class="title">TESTIMONIALS</h2>
    </div>
    <h3 class="subtitle">WHAT ARE OUR STUDENTS SAYING</h3>

    <!-- Testimonials Carousel -->
    <div class="carousel-wrapper">
        <div class="carousel-item">
            <div class="testimonial-card">
                <p class="testimonial-content">So, I just finished the Solidity Programming course...</p>
                <p class="testimonial-author">Jeremy Schwartz - Freelancer</p>
            </div>
        </div>
        <!-- Repite .carousel-item para cada testimonio... -->
    </div>
</section>