---
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Online Programming and QA Courses">
    <meta name="keywords" content="Programming, QA, Online Courses">
    <meta name="author" content="QA Programming & Learning LTD">
    <title>{{ page.title }}</title>
    <link rel="icon" href="/assets/img/qapy.ico" sizes="32x32" type="image/png">
    <link rel="stylesheet" href="/assets/styles/styles.css">
    <link rel="stylesheet" href="/assets/styles/banner.css">
    <link rel="stylesheet" href="/assets/styles/cards.css">
    <link rel="stylesheet" href="/assets/styles/ourteam.css">
    <link rel="stylesheet" href="/assets/styles/footer.css">
    <link rel="stylesheet" href="/assets/styles/about.css">
    <link rel="stylesheet" href="/assets/styles/courses.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        {% include nav.html %}
    </header>

    <main>
        {{ content }}
    </main>

    {% include footer.html %}
    <script src="https://unpkg.com/scrollreveal"></script>
    <script src="/assets/js/script.js"></script>
</body>

</html>