---
layout: default
---
<link rel="stylesheet" href="/assets/styles/terms.css">
<style>
    h3{
        font-size: 2rem;
        font-weight: lighter;
    };
    p{
        margin-top: 2vh;
        font-size: 1.2rem;
    }
</style>
<section class="about-us-section">
    <div class="about-us-text">
        <h2 style="margin-bottom: 2vh;">Privacy Policy</h2>
    </div>
</section>
<section class="team-section reveal-bottom">
    <div class="title-container">
        <h2 class="title">Privacy Policy</h2>
    </div>
</section>
<div class="customer-message">
    <h3>Privacy Policy of QA Programming & Learning LTD</3>
    
    <p>
        At <strong>QA Programming & Learning LTD</strong>, we value the privacy and protection of personal data of our users. For this reason, we have developed this privacy policy to explain how we collect, use, disclose, and protect the personal data we obtain from our users.
    </p>
    <h3>Collection of Personal Data
    </h3>
    <p>
        On our website, we only collect the personal data that our users voluntarily provide when registering on our website, purchasing our digital products, downloading our free materials, or contacting us for information or technical assistance. The personal data we collect include:
    </p>

    <ul>
        <li>
            First and last name
        </li>

        <li>
            Email address
        </li>

        <li>
            IP address
        </li>
        <li>
            Username
        </li>
    </ul>

    <h3>Use of Personal Data
    </h3>

    <p>
        The information we collect is used for the following purposes:
    </p>

    <ul>
        <li>
            To personalize the experience of our users on our website
        </li>

        <li>
            To process purchase transactions of our digital products
        </li>

        <li>
            To improve our website and services
        </li>
        <li>
            To provide technical support and customer service to our users
        </li>
    </ul>
    <p>Disclosure of Personal Data
    </p>
    <p><strong>QA Programming & Learning LTD</strong> will not share, sell, rent, or exchange personal data with third parties, except in the following cases:
    <ul>
        <li>
            If the personal data is necessary to comply with applicable laws and regulations
        </li>
        <li>
            If the personal data is necessary to protect the rights and property of QA Programming & Learning LTD or our users
        </li>
        <li>
            If the personal data is necessary to provide services to our users, such as payment services or shipping services

        </li>
    </ul>
    </p>
    <h3>Security of Personal Data
    </h3>
    <p><strong>QA Programming & Learning LTD</strong> will take reasonable and appropriate measures to protect the personal data of our users against unauthorized access, alteration, disclosure, or destruction. We use appropriate technical and administrative measures to protect the personal data we collect and process.
    </p>
    <h3>Changes to the Privacy Policy
    </h3>
    <p><strong>QA Programming & Learning LTD</strong> reserves the right to update this privacy policy at any time and without prior notice. Therefore, we recommend that you periodically review this privacy policy to stay informed about any changes. If you continue to use our website after changes have been made to this privacy policy, it will be considered that you accept such changes.
    </p>

</div>