---
layout: default
---
<link rel="stylesheet" href="/assets/styles/terms.css">
<style>
    h3{
        font-size: 2rem;
        font-weight: lighter;
    };

    p{
        margin-top: 2vh;
        font-size: 1.2rem;
    }
</style>
<section class="about-us-section">
    <div class="about-us-text">
        <h2 style="margin-bottom: 2vh;">Refund Policy</h2>
    </div>
</section>
<section class="team-section reveal-bottom">
    <div class="title-container">
        <h2 class="title">Refund Policy</h2>
    </div>
</section>
<div class="customer-message">
    <h3>Refund Policy</h3>    
    <p>Welcome to <strong>QA Programming & Learning LTD</strong>, we are dedicated to providing high quality digital products. We want to make sure our customers are completely satisfied with their purchase. Below, we present our return, refund and delivery policy:
    </p>
    <h3>Return
    </h3>
    <p>
        If the product does not meet your expectations or you are unsatisfied with your purchase, you can request a 100% product refund.
        <br>
        <br>

        The return request must be sent to the email address support@qapy.uk.
        <br>
        <br>

        If we detect any malicious use, credit card theft, or any other misuse of payment information, a full refund will be issued.
        <br>
        <br>

        In the case of dissatisfaction, a return will be processed without any issues.
        <br>
        <br>

        In all other cases, a partial refund will be issued within 7 days of purchase, except for digital books, which are not eligible for returns. For digital courses, we offer a 100% refund within the first 30 days.
    </p>
    <h3>Refund
    </h3>
    <p>If a refund is determined to be the best solution, it will be issued through the same payment method used for the purchase. The refund will be processed within 5 business days after the return request.
    </p>
    <h3>
        Delivery
    </h3>
    <p>Delivery of our digital products is immediate, through login to our website. All products are delivered virtually and in full at the time of purchase.
    </p>
    <h3>Contact
    </h3>
    <p>In case of any issues or inquiries, please contact us via email at support@qapy.uk or through WhatsApp at the following number: +44 7451 214558.

        We appreciate your trust in <strong>QA Programming & Learning LTD</strong> and hope that our digital products meet your needs.</p>
</div>