---
layout: default
---
<link rel="stylesheet" href="/assets/styles/terms.css">
<section class="about-us-section">
    <div class="about-us-text">
        <h2 style="margin-bottom: 2vh;">Warranty Terms</h2>
    </div>
</section>
<section class="team-section reveal-bottom">
    <div class="title-container">
        <h2 class="title">Warrenty Terms</h2>
    </div>
</section>
<div class="customer-message">
    <h3>Dear Customer,</3>
    
    <p>
        At <strong>QA Programming & Learning LTD</strong>, our commitment is to your satisfaction. We pride ourselves on delivering high-quality digital courses crafted with dedication and expertise.
    </p>
    
    <p>
        We understand the importance of trust in our digital landscape. To bolster that trust, we are pleased to offer you the following guarantees:
    </p>

    <ul>
        <li>
            <strong>100% Satisfaction Guarantee:</strong> Should you find our courses or digital books not meeting your expectations, we offer a full refund within 30 days from your purchase date.
        </li>

        <li>
            <strong>Quality Guarantee:</strong> Our promise is a seamless digital experience. Any hiccup, and we're on it - ensuring you get the best.
        </li>

        <li>
            <strong>Privacy and Security Guarantee:</strong> Your privacy is our priority. Should there be any breach or misuse of your payment details, rest assured, we'll refund you in full.
        </li>

        <li>
            <strong>Delivery Guarantee:</strong> Once your payment is processed, immediate access to our courses or digital books is our promise. Your learning shouldn't wait.
        </li>
    </ul>

    <p>
        We hope our guarantees underscore our commitment to you. Should you have any queries, feel free to reach out to our customer support at <a href="mailto:support@qapy.uk">support@qapy.uk</a> or connect with us on WhatsApp at +44 7451 214558.
    </p>

    <p>
        Warm Regards,
        <br>
        <strong>QA Programming & Learning LTD.</strong>
    </p>
</div>