/* ... Estilos anteriores ... */

/* About Us section */
.about-us-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3vh;
    background-color: black;
}

.about-us-text {
    flex: 60%; /* Ocupar el 60% del espacio disponible */
    padding: 3vh;
    color: whitesmoke;
    margin-top: 12vh;
    text-align: center;
}

.about-us-image {
    flex: 40%; /* Ocupar el 40% del espacio disponible */
    padding: 3vh;
}

/* Testimonial Cards */
.testimonial-card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 2vh;
    margin: 2vh 0;
    border-radius: 5px;
    background-color: white;
}

.testimonial-content {
    margin-bottom: 2vh;
}

.testimonial-author {
    font-weight: 700;
}

/* Carousel for Testimonials */
.carousel-wrapper {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 2vh;
}

.carousel-wrapper::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

.carousel-wrapper::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 0.5rem;
}

.carousel-wrapper::-webkit-scrollbar-track {
    background: #f5f5f5;
}

.carousel-item {
    min-width: 100%;
    scroll-snap-align: start;
}

/* Media Query for Mobile View */
@media screen and (max-width: 768px) {
    /* ... Estilos anteriores ... */

    .about-us-section {
        flex-direction: column;
    }

    .about-us-text, .about-us-image {
        flex: 100%;
        padding: 2vh;
    }
}
